html, body{
  margin:0;
  padding:0;
  overflow-x: hidden;
}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
  /* top: 0; */
}

nav li  {
  color:#ffff;
  text-decoration: none;
}

.nav-ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin: 0;
  padding:20px;
}

.header{
  height: 70vh;
  background-image: url("/assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.game-article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center
}
.news p{
  text-align: justify;
}

.news {
  width: 50%;
}
.game{
  width: 50%;
}
.pictures{
  height: 70vh;
  background-image: url("/assets/kiloren.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.darkvador-container {
  display: flex;
  padding: 0 20% 0 0;
  margin-top: 5%;
}
.troopers {
  height: 50vh;
  background-image: url("/assets/stormtroopers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}