nav {
  background-color: black;
  color:#ffff;
}

.list-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0;
}

.header{
  height: 70vh;
  background-image: url("/assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

